html {
    height: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

#root {
    height: 100%;
}

.mx_App {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.mx_RoomList {
    overflow: scroll;
    flex: 0 0 auto;
}

.mx_RoomList ol {
    overflow: hidden;
}

.mx_RoomTile {
    position: relative;
    max-width: 300px;
    cursor: pointer;
}

.mx_RoomTile_selected {
    font-weight: bold;
}

.mx_RoomTile .mx_Avatar img {
    position: absolute;
    left: 0em;
    top: 2px;
    width: 20px;
    height: 20px;
    border-radius: 32px;
    object-fit: cover;
}

.mx_RoomTile_name {
    margin-left: 2em;
    white-space: nowrap;
}

.mx_Timeline {
    flex: 1 1 auto;
    overflow: scroll;
    display: flex;
    word-break: break-all;
}

.mx_Timeline ol {
    position: relative;
}

.mx_Timestamp {
    position: absolute;
    left: 1em;
}

.mx_EventTile .mx_Avatar img {
    position: absolute;
    left: 6em;
    width: 20px;
    height: 20px;
    border-radius: 32px;
    object-fit: cover;
}

.mx_Sender {
    position: absolute;
    left: 8em;
    overflow: hidden;
    white-space: nowrap;
    width: 8em;
}

.mx_EventTile {
    display: block;
    margin-left: 16em;
}