.mx_Timestamp {
    position: absolute;
    left: 1em;
}

.mx_Avatar img {
    position: absolute;
    left: 6em;
    width: 20px;
    height: 20px;
    border-radius: 32px;
}

.mx_Sender {
    position: absolute;
    left: 8em;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    width: 6em;
}

.mx_EventTile {
    display: block;
    margin-left: 14em;
}